<!--Modal Add-->

<app-modal *ngIf="mostrarAdd == true" [modalData]="modalAddData" [formAnterior]="modalAddData.formInput" (cerrarModal)="cerrarModal($event)"
  (actualizarTabla)="actualizarTabla($event)"></app-modal>
<!--

<!--Modal Edit-->

<app-modal *ngIf="mostrarEdit == true" [modalData]="modalEditData" [formAnterior]="modalEditData.formInput" [content]="editObject"
  (cerrarModal)="cerrarModal($event)" (actualizarTabla)="actualizarTabla($event)"></app-modal>
<!--Fin modal-->


<section class="widget " style="width: 1200px;" widget>
  <div class="row">
    <h2 class="table-titulo ">Lista de {{titulo}}s</h2>
    <button class="col-md-3" *ngIf="addButton.existe" [ngStyle]="{'margin-left': anchoTitulo}" type="" title="{{addButton.desc}}"
      class="addButton" (click)="modalAddShow()"><i class="{{addButton.img}} addIcon" ></i></button>


  </div>
  <div class="mt">
    <div class="width-200 float-right">
      <div class="input-group input-group-sm input-group-transparent input-group-rounded">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search {{titulo}}s">
      </div>
    </div>
    <table class="table table-striped table-hover" [mfData]="data | SearchPipe : searchText:columns" #mf="mfDataTable" [mfRowsOnPage]="itemsPerPage">
      <thead>
        <tr>
          <th *ngFor="let column of columns">
            <mfDefaultSorter by="{{column.name}}" class="header">{{column.title}}</mfDefaultSorter>
          </th>
          <th *ngIf="buttons.length > 0" class="no-sort header">
            Options
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let object of mf.data">
          <td *ngFor="let column of columns">
            <app-row [objeto]="object" [indice]="column"></app-row>
          </td>
          <td *ngIf="buttons.length > 0">
            <button *ngFor="let button of buttons" class="editButton" type="" title="{{button.desc}}" (click)="modalEditShow(object)"><i class="{{button.img}} editIcon" ></i></button>
          </td>
        </tr>
        <tr *ngIf="mf.data.length === 0">
          <td colspan="100">
            No matches
          </td>
        </tr>
      </tbody>
    </table>
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
  </div>

</section>
