
<div *ngIf="indice['type'] =='number'">
  {{elemento | number}}
</div>
<div *ngIf="indice['type'] =='float'">
  {{elemento | number:'1.2-2'}}
</div>
<div *ngIf="indice['type'] =='string'">
  {{elemento}}
</div>
