<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i> Importaciones S&R
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Login</h3>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg">
              <div class="form-group">
                <input type="text" #email  class="form-control" id="exampleInputEmail1" placeholder="Username">
              </div>
              <div class="form-group">
                <input class="form-control" #password id="pswd" type="password" placeholder="Password">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar float-right m-t-1">
                  <a class="btn btn-info btn-sm" (click)="login(email.value, password.value)">Login</a>
                </div>
              </div>
              <div class="row m-t-1">
                <div class="col-md-6 push-md-6">
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    {{ anio }} &copy;Importaciones S&R.
  </footer>
</div>
