<ng-template #modal let-c="close" id="modal" let-d="dismiss">

      <div class="modal-header">
        <h4 class="modal-title">{{modalData.titulo}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModalButton()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left parsleyjs" method="post" data-parsley-priority-enabled="false" novalidate="novalidate">
          <div class="form-group row" *ngFor="let element of modalData.formInput; let i=index">
            <label for="{{element.column.title}}" class="form-control-label margin10px">{{element.column.title}}</label>
            <div *ngIf="modalData.formInput[i].type == 0">
              <input  [(ngModel)]="modalData.formResponse[i]" class="form-control margin10px" type="{{element.column.type}}" name="{{ element.column.title}}"
              id="{{element.column.name}}"
              data-parsley-trigger="change" required="required">
            </div>
            <div *ngIf="modalData.formInput[i].type == 1">
              <select2
              (valueChanged)="select2Changed($event, i)"
              [data]="getSelect2DefaultList(modalData.formInput[i].url)"
              [options]="select2Options"
              [width]="250"></select2>
            </div>

          </div>
          <div class="modal-footer form-actions">
            <button type="button" class="btn btn-default btn-rounded" (click)="cerrarModalButton()">Close</button>
            <button type="submit" class="btn btn-danger btn-rounded float-right  " (click)="operation()">Ok</button>
          </div>
        </form>
      </div>
    </ng-template>
