.mostrar{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.12);
  z-index: 9;
}

.z-depth-2 {
  box-shadow: 0 8px 17px rgba(121, 121, 121, 0.01), 0 6px 20px rgba(232, 232, 232, 0.01) !important;
}
