<!--<section *ngIf="!loading" class="widget" widget>
  <div class="widget-body">
    <app-table-dynamic
    [titulo]="titulo"
    [columns]="columns"
    [data]="data"
    [config]="config"
    [buttons]="buttons"
    [camposEdit]="camposEdit"
    [camposAdd]="camposAdd"
    [addButton]="addButton"
    [insert]="insert"
    [addTemplate]="addTemplate"
    ></app-table-dynamic>
  </div>
</section>-->
  <app-table-dynamic
  [titulo]="titulo"
  [url]="url"
  [columns]="columns"
  [config]="config"
  [buttons]="buttons"
  [addButton]="addButton"
  [modalAddData]="modalAdd"
  [modalEditData]="modalEdit"
  [itemsPerPage]="itemsPerPage"
  ></app-table-dynamic>
