<div>
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers"> {{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of list">
        <td *ngFor="let data of row; let i=index">{{data}}</td>
        <td><button *ngFor="let boton of botones">{{boton}}</button></td>
      </tr>
    </tbody>
  </table>
</div>
