<nav sidebar id="sidebar" role="navigation" class="sidebar"></nav>
<nav navbar (toggleSidebarEvent)="toggleSidebarListener($event)"
     (toggleChatEvent)="toggleChatListener()" class="page-controls navbar navbar-dashboard"></nav>
<div class="content-wrap" style="overflow-x: auto;max-width: calc(100% - 203.99px);" id="content-wrap">
  <main id="content" class="content" role="main">
    <div class="loading-overlay" #spinnerElement>
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div class="router-component" #routerComponent>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

