<div class="js-sidebar-content">
  <header class="logo ">
    <a href="index.html">{{config.name}}</a>
  </header>

  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav">
    <li>
      <a [routerLink]=" ['users'] ">
      <span class="icon">
          <i class="fa fa-child"></i>
      </span>
        Administrador
      </a>
    </li>
    <li>
      <a [routerLink]=" ['another-page'] ">
      <span class="icon">
          <i class="fa fa-usd"></i>
      </span>
        Ventas
      </a>
    </li>
    <li>
      <a [routerLink]="['productos'] ">
      <span class="icon">
          <i class="fa fa-shopping-cart"></i>
      </span>
        Productos
      </a>
    </li>
    <li>
      <a [routerLink]=" ['prueba'] ">
      <span class="icon">
          <i class="fa fa-list-alt"></i>
      </span>
       Inventario
      </a>
    </li>
  </ul>

</div>
