<h1 class="page-title">Importaciones S & R</h1>
<!--
<div class="row">
  <div class="col-md-6">
    <section widget class="widget">
      <header>
        <h4>
          Example <span class="fw-semi-bold">Widget</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <img class="pull-left mr-sm" src="assets/img/a2.png" alt="Angular 4.0" width="100">
        <p class="lead">You are looking at a completely new version of Sing App built
          with brand new <strong>Angular <em>4.0</em> Final Release</strong></p>
        <p class="fs-mini">Made by <a href="http://flatlogic.com" target="_blank">Flatlogic</a>.</p>
      </div>
    </section>
  </div>
</div>
-->
