@import '../../../../scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/variables';

.badge.badge-pill {
  padding: .4em .6em;
  font-weight: $font-weight-bold;
}

.modal-body {
  background: $gray-lighter;
}

.modal-header h4 {
  margin-top: -10px;
}
