<div class="container-fluid no-gutters">
  <!-- .navbar-header contains links seen on xs & sm screens -->
  <div class="navbar-header row">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item">
        <ng-template #sidebarToggleTooltip>
          Ocultar/Mostrar<br> Sidebar <br>
        </ng-template>
        <!-- shown on xs & sm screen. collapses and expands navigation -->
        <a (click)="toggleSidebar('collapse')" class="nav-link" href="#" data-html="true" title="Show/hide<br>sidebar" data-placement="bottom">
          <!--<span class="rounded rounded-lg bg-gray text-white hidden-md-up"><i class="fa fa-bars fa-lg"></i></span>-->
          <i class="fa fa-bars "></i>
        </a>
      </li>
    </ul>
    <p class="titulo">
      <i class="fa fa-circle text-warning"></i>
      &nbsp;
      {{config.name}}
      &nbsp;
      <i class="fa fa-circle text-warning mr-n-sm"></i>
    </p>

    <!-- this part is hidden for xs screens -->
    <div class="row  marginOptions" [ngStyle]="{'margin-left': marginLeft}" >
      <!-- search form! link it to your search server -->
      <p class="m04">{{userName}}</p>
      <ul class="nav navbar-nav flex-row " (click)="$event.preventDefault()">

        <li class="nav-item dropdown " id="logout">
          <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cog fa-lg"></i>
        </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; My Account</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>


</div>
