.marginOptions {
  margin-top: 0.7em;
}

.m04 {
  margin-top: 0.4em;
}

#logout {
  margin-left: 1rem;
}

.titulo {
  display: inline-block;
  color: #666;
  margin-right: 0;
  padding-top: 12px;
}



